.header{
  /* background-color: white;
  width: 100vw;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; */
  z-index: 50;
  height: 5rem;
}

.header.active{
  /* background-color: white;
  width: 100vw;
  height: 5rem;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50; */
  position: fixed;
  top: 0;

}

#UserBtn:hover #UserBtnDiv{
  display: flex;
}