.header{
  background-color: white;
  width: 100vw;
  height: 5rem;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.active{
  background-color: white;
  width: 100vw;
  height: 5rem;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 40;
}

#UserBtn:hover #UserBtnDiv{
  display: flex;
}